<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shark Tank</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light fixed-top d-flex justify-content-between" id="navbar">
  <div id="icon-shark" class="navbar-header">
  <a class="navbar-brand" href="/display-page" style="color: rgb(43, 41, 41)">SharkTank <img src="/resources/shark.gif" height="30" alt="shark icon" loading="lazy"></a>
</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      <% if(!currentUser){ %>
      <li id="navButton"><a href="/login">Login</a></li>
      <li id="navButton"><a href="/register">Sign Up</a></li>
      <% } else { %>
      <li id="navButton">
        <a href="/users/<%=currentUser.id %>"
          id="navButton" >Hello! <%= currentUser.username %></a
        >
      </li id="navButton">
      <li><a href="/logout" id="navButton">Logout</a></li>
      <% } %>
    </ul>

  </div>
</nav>
<div class="container" id="message_box">
  <% if(error && error.length > 0) { %>
    <div class="alert alert-danger"><p><%=error %></p></div>
  <% } %>
  
  <% if(success && success.length > 0) { %>
    <div class="alert alert-success"><p><%= success %></p></div>
  <% } %>
</div>
<div class="container">
