<!DOCTYPE html>
<html lang="en">
  <%- include ('../head_toes/header') %>
  <link href="/stylesheets" rel="stylesheet" type="text/css" />

  <body>
    <div class="container">
      <h1>Register</h1>
      <form action="/register" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            required
            name="username"
            class="form-control"
            id="username"
            placeholder="Username"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            required
            name="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="profilePic">Profile Picture</label>
          <input
            type="url"
            name="profilePic"
            class="form-control"
            id="profilePic"
            placeholder="Pleaes put in an Imgae URL or leave it blank to be a BABY SHARK"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            required
            name="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Register</button>
        </div>
      </form>
      <a href="/login">Login</a>
    </div>
  </body>
  <%- include ('../head_toes/footer') %>
</html>
