<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A Card</title>
  </head>
  <body>
    <h1>Write down your Ideas!</h1>

    <form id="idea_form" action="/create-card" method="POST">
      Title
      <input type="text" placeholder="Idea Title" />
      Ideas in Detail
      <input type="text" placeholder="Describe your Idea" />
      Image
      <input type="text" placeholder="Enter a URL of the image" />
      <button id="idea_submit_button" type="submit" onsubmit="createCard()">
        Create a card!
      </button>
    </form>
  </body>
</html>
