<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A Card</title>
  </head>
  <body>
    <h1>Write down your Ideas!</h1>

    <form id="idea_form" action="/create-card" method="POST">
      <label for="titleInput">Title</label>
      <input
        id="titleInput"
        name="titleInput"
        type="text"
        placeholder="Idea Title"
      />
      <label for="descriptionInput">Ideas in Detail</label>
      <input
        id="descriptionInput"
        name="descriptionInput"
        type="text"
        placeholder="Describe your Idea"
      />
      <label for="imageInput">Image URL</label>
      <input
        id="imageInput"
        name="imageInput"
        type="text"
        placeholder="Enter a URL of the image"
      />
      <button id="idea_submit_button" type="submit">
        Create a card!
      </button>
    </form>
  </body>
</html>
