<!DOCTYPE html>
<html lang="en">
  <%- include ('./head_toes/header') %>
  <link rel="stylesheet" href="stylesheets/create-card.css" />
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="main-content">
          <header class="text-center">
            <h1>Write down your Ideas!</h1>
            <p class="lead">
              By writing down some ideas that you have for a new project, or
              business, Shark Tank will create a simple "notecard" to record
              your idea.
            </p>
          </header>

          <!-- BOOTSTRAP FORM -->
          <form id="idea_form" action="/create-card" method="POST">
            <div class="form-group">
              <label for="titleInput">Idea Title</label>
              <input
                type="text"
                required
                class="form-control"
                name="titleInput"
                id="titleInput"
                placeholder="Enter an idea"
              />
            </div>
            <div class="form-group">
              <label for="descriptionInput">Ideas in Detail</label>
              <textarea
                class="form-control"
                name="descriptionInput"
                id="descriptionInput"
                required
                rows="9"
                placeholder="Enter your ideas in detail"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="imageInput">Photo URL</label>
              <input
                type="url"
                class="form-control"
                name="imageInput"
                id="imageInput"
                placeholder="Enter an image url or leave it blank to find a strong shark in the tank"
              />
            </div>
            <button
              id="idea_submit_button"
              class="btn btn-outline-light"
              type="submit"
            >
              Create a card!
            </button>
          </form>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <%- include ('./head_toes/footer') %>
  </body>
</html>
