<!DOCTYPE html>
<html lang="en">
  <%- include ('./head_toes/header') %>
  <link rel="stylesheet" href="/stylesheets/detail-page.css" />
  <body>
    <div id="page-container">
      <h1>Details Page</h1>

      <div class="container" id="display-area"></div>

      <script src="../details.js"></script>
    </div>
  </body>
  <%- include ('./head_toes/footer') %>
</html>
