<!DOCTYPE html>
<html lang="en">
  <%- include ('./head_toes/header') %>
  <link rel="stylesheet" href="/stylesheets/detail-page.css" />
  <body>
    <h1>Details Page</h1>
    <div class="container" id="display-area"></div>

    <%- include ('./head_toes/footer') %>
    <script src="../details.js"></script>
  </body>
</html>
