<html lang="en">
  <%- include ('./head_toes/header') %>
  <link rel="stylesheet" href="/stylesheets/display-page.css" />

  <body id="background-image">
    <div class="wrapper">
      <div class="container">
        <div id="body-text" , class="row">
          <div class="col align-self-center">
            <h1>Ideas Page</h1>
            <a href="/create-card">Publish Your Ideas!</a>

            <div id="display-area"></div>
          </div>
          <div class="row"></div>
        </div>
      </div>
      <div class="push"></div>
    </div>
    <%- include ('./head_toes/footer') %>
    <script src="../display.js"></script>
  </body>
</html>
