<html lang="en">
  <%- include ('./head_toes/header') %>

  <body id="background-image">
    <div class="container">
      <div id="body-text" , class="row">
        <div class="col align-self-center">
          <h1>Display Ideas Page</h1>
          <a href="/create-card">Link to Create a Card</a>
        </div>
        <div class="row"></div>
      </div>
    </div>
    <%- include ('./head_toes/footer') %>
    <script src="../display.js"></script>
  </body>
</html>
