<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
  </head>
  <body>
    <h1>Welcome to Shark Tank, <%= name%></h1>

    <a href="/display-page">Check Our Display Page</a>

    <a href="/create-card">Link to Create a Card</a>
  </body>
</html>
