#display-area {
  opacity: 0.8;
  width: 45vw;
  height: 20px;
}

#page-container {
  margin-top: 10vh;

  position: relative;
  min-height: 90vh;
}

h1 {
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.my-buttons {
  margin-left: 1rem;
  width: 5rem;
}
