body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "Sora", sans-serif;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#body-text {
  margin-top: 10%;
  font-family: "Red Rose", cursive;
  font-family: "Sora", sans-serif;
  color: rgb(155, 153, 153);
  text-align: center;
  font-size: 120%;
}

#display-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-img-top {
  height: 15rem;
}

.card {
  border: 1px solid white;
  height: 30rem;
  margin: 20px;
  width: 20rem;
  opacity: 0.8;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.card-body {
  position: relative;
}

.my-blue-btn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
}

#navButton {
  margin-left: 1rem;
}

h1 {
  color: rgb(43, 41, 41);

  font-size: 80px;
  font-weight: 500;
}

.button-container {
  display: flex;
  justify-content: center;
}

.card-title {
  font-size: 150%;
  font-weight: bold;
}
