.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
  background-color: rgba(245, 245, 245, 0.65);
}

#navbar {
  background-color: rgba(245, 245, 245, 0.65);
}

#background-image {
  background-image: url("../resources/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

#navButton {
  margin-left: 1rem;
}

.thumbnail img {
  width: 30%;
}

.thumbnail {
  padding: 20px;
}

.thumbnail .caption-full {
  padding: 9px;
}

body {
  background-image: url("../resources/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  font-family: "Sora", sans-serif;
}
#message_box {
  margin-top: 3%;
}
